/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #eb7463;
  --ifm-color-primary-dark: #d66655;
  --ifm-color-primary-darker: #b84432;
  --ifm-color-primary-darkest: #9b3424;
  --ifm-color-primary-light: #e07d6d;
  --ifm-color-primary-lighter: #d39085;
  --ifm-color-primary-lightest: #df9d93;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78aeff;
  --ifm-color-primary-dark: #78aeff;
  --ifm-color-primary-darker: #78aeff;
  --ifm-color-primary-darkest: #78aeff;
  --ifm-color-primary-light: #78aeff;
  --ifm-color-primary-lighter: #78aeff;
  --ifm-color-primary-lightest: #78aeff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
