/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

pre code {
	tab-size: 3;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #eb7463;
  --ifm-color-primary-dark: #d66655;
  --ifm-color-primary-darker: #b84432;
  --ifm-color-primary-darkest: #9b3424;
  --ifm-color-primary-light: #e07d6d;
  --ifm-color-primary-lighter: #d39085;
  --ifm-color-primary-lightest: #df9d93;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #78aeff;
  --ifm-color-primary-dark: #78aeff;
  --ifm-color-primary-darker: #78aeff;
  --ifm-color-primary-darkest: #78aeff;
  --ifm-color-primary-light: #78aeff;
  --ifm-color-primary-lighter: #78aeff;
  --ifm-color-primary-lightest: #78aeff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

table tr th {
	vertical-align: top;
}

/** For the "Dos and Don'ts" icons **/
table tr td img[alt="Error"],
table tr td img[alt="Explanation"],
table tr td img[alt="Correct action"],
table tr td img[alt="Action to avoid"] {
	min-width: 1.4rem;
	margin-bottom: -0.35rem;
}

/** General table styling tweaks **/
table tr td p:last-child {
	margin-bottom: 0;
}

/** Improve the UX of the tabs by making them more clearly associated with their content **/
.tabs {
	overflow: hidden;
	padding-left: 0.25rem; /* space for the box-shadow */
}
.tabs .tabs__item {
	padding-bottom: 0;
	padding-top: 0;
	line-height: 2.5;
	border: 0;
	box-sizing: border-box;
	box-shadow: 0 0 0.25rem 0 transparent;
}
.tabs .tabs__item--active {
	box-shadow: 0 0 0.25rem 0 var(--ifm-tabs-color-active-border);
	border: 0;
	position: relative;
	top: 2px;
	z-index: 10;
	background: var(--ifm-background-surface-color);
}
.tabs + div {
	margin-top: 0 !important;
	box-shadow: 0 0 0.25rem 0 var(--ifm-tabs-color-active-border);
}
